<header class="site-header">
  <nav class="navbar">
    <a href="/" class="nav-logo">
      <span class="logo-text">L</span>
    </a>
    <ul class="nav-menu">
  {% for item in site.menu_items %}
    {% if item.title == "Szolgáltatások" %}
      <li class="nav-item has-dropdown">
        <a href="{{ item.url }}">{{ item.title }}</a>
        <ul class="dropdown">
          {% for service in site.services_menu %}
            <li><a href="{{ service.url }}">{{ service.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
    <div class="nav-social">
  <a href="https://facebook.com/ide-jon-majd-merci-oldala" target="_blank" rel="noopener">
    <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
    <span class="sr-only">Facebook</span>
  </a>
  <a href="https://instagram.com/ide-jon-majd-merci-oldala" target="_blank" rel="noopener">
    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
    <span class="sr-only">Instagram</span>
  </a>
  <a href="https://www.tiktok.com/@ide-jon-majd-merci-oldala" target="_blank" rel="noopener">
    <i class="fa-brands fa-tiktok" aria-hidden="true"></i>
    <span class="sr-only">TikTok</span>
  </a>
</div>

  </nav>
</header>